*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #d2cdcd;
    padding: 1rem;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.4em
}
.a1{
    background-color: rgb(222, 219, 219);
}

.a2{
    background-color: #fff;
}

body{
    background-color: #212121;
    color: #fff;
}

.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}